<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
      <h1 class="joke"> Hey honey!!!  I'm home!!! </h1>
    <img class="photo" src=https://www.hoax-slayer.net/wp-content/uploads/2017/06/lol-man.jpg alt="rps-pic">  
  </body>
</html>
