<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rules</title>
    <link href="./rules.css" type="text/css" rel="stylesheet">
  </head>

  <body>

    <img class="photo" src=http://www.sfvacc.org/resources/Pictures/RoPaSc%20Logo.jpg alt="rps-pic">

    <h1>The rules :</h1>
    <p> The Rules of the game are fairly easy.
       Rock–paper–scissors is a hand game
       usually played between two people, in which each player simultaneously forms one of three shapes
       with an outstretched hand. These shapes are "rock", "paper", and "scissors". </p>

    <p> But we are now digitilized so we will play in a more 20 century appropiate way</p>
    <p> Paste this link http://localhost:4567/game/ and add one of the ahead mentioned move for the player1 and
    a / to then add the move for the player2! </p>
  </body>
</html>
